:root {
  --color-bg: #253334;
  --color-bg-panel: #F7F3F0;
  --color-text: rgba(255, 255, 255, 0.9);
  --color-text-inverted: #000;
  --font-name-primary: "Alegreya", sans-serif;
  --font-name-secondary: "Alegreya Sans", sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-name-primary),sans-serif;;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);

}

#app {
  margin: 0 auto;
  font-weight: normal;
}
